<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/course.css" />

</head>


<body class="black-theme">
 
  <div class="header">
    <div >
        <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
    </div>
 

    <div class="menu">
        <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
    </div>
    </div>
    <div class="header-line"></div>
    <div class="navigate">
      <p>Design - Web-design - abstract</p>
      <div class="line"></div>
    </div>
 

    <div class="conteiner-coures">
      <img class="course-img" src="../img/js.gif" />

      <div class = "course-discriotion">
        <p class="course-title">Начальный курс по JavaScript</p>
        <p class="course-title-dis">Разработка веб-приложений</p>
        <p class = "course-dis-discription">JavaScript —  даёт возможность реализовывать сложное поведение веб-страницы. Каждый раз, когда вы видите веб-страницу, она не только отображает статическое содержимое, но и делает большее - своевременно отображает обновление контента, выводит интерактивные карты, 2D/3D анимацию, прокручивает видео и т.д. - будьте уверены, здесь не обошлось без JavaScript.</p>
        <a href = "../template/teor.html"> <img class = "course-next-line" src = "../img/learned.png"/></a>
      </div>
    </div>

    <div class="conteiner-coures">
      <img class="course-img" src="../img/с++.jpg" />

      <div class = "course-discriotion">
        <p class="course-title">Начальный курс по C++</p>
        <p class="course-title-dis">Разработка ПО</p>
        <p class = "course-dis-discription">C++ — компилируемый, статически типизированный язык программирования общего назначения. Поддерживает такие парадигмы программирования, как процедурное программирование, объектно-ориентированное программирование, обобщённое программирование. </p>
        <a href = "../template/teor.html"> <img class = "course-next-line" src = "../img/learned.png"/></a>
      </div>
    </div>

    <div class="conteiner-coures">
      <img class="course-img" src="../img/php.png" />

      <div class = "course-discriotion">
        <p class="course-title">Начальный курс по PHP</p>
        <p class="course-title-dis">Разработка веб-приложений</p>
        <p class = "course-dis-discription">PHP — C-подобный скриптовый язык общего назначения, интенсивно применяемый для разработки веб-приложений. В настоящее время поддерживается подавляющим большинством хостинг-провайдеров и является одним из лидеров среди языков, применяющихся для создания динамических веб-сайтов.</p>
        <a href = "../template/teor.html"> <img class = "course-next-line" src = "../img/learned.png"/></a>
      </div>
    </div>

    <div class="conteiner-coures">
      <img class="course-img" src="../img/c.jpg" />

      <div class = "course-discriotion">
        <p class="course-title">Начальный курс по С#</p>
        <p class="course-title-dis">Разработка ПО</p>
        <p class = "course-dis-discription">C# — объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров компании Microsoft под руководством Андерса Хейлсберга и Скотта Вильтаумота как язык разработки приложений для платформы Microsoft .NET Framework. Впоследствии был стандартизирован как ECMA-334 и ISO/IEC 23270.</p>
       <a href = "../template/teor.html"> <img class = "course-next-line" src = "../img/learned.png"/></a>
      </div>
    </div>
  <script src="/script.js"></script>
  <div class = "footer">
    <p class = "footer-text-one">Повседневная практика показыва современная методология</p>
    <p class = "footer-text-three">0153604@online.muiv.ru</p>
</div>
</body>
</html>
