<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Document</title>
  </head>
  <body class="black-theme">
    <div class="main-fon-r">
      <div class="main-title-h">Создание курса</div>
      <div class="main-form-verificat-l">
        <div class="input-container">
          <input type="text" required="" />
          <label>Название</label>
        </div>
        <div class="input-container">
          <input type="password" id="eme" required="" />
          <label>Область</label>
          <span id="errer_eme" class="erorr-message"></span>
        </div>
        <div class="input-container">
            <textarea type="password" id="eme" required="" ></textarea>
            <label>Описание</label>
            <span id="errer_eme" class="erorr-message"></span>
          </div>
      </div>
      <a href="../template/create1.html" class="link">
        <button class="verificat-button">
          <p class="verificat-button-text">Далее</p>
        </button>
      </a>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
