<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Document</title>
  </head>
  <body class="black-theme">
    <div class="main-fon-r">
      <div class="main-title-h">Авторизация</div>
      <div class="main-form-verificat-l">
        <div class="input-container">
          <input type="text" required="" />
          <label>Логин</label>
        </div>
        <div class="input-container">
          <input type="password" id="eme" required="" />
          <label>Пароль</label>
          <span id="errer_eme" class="erorr-message"></span>
        </div>
      </div>
      <a href="../template/profile_s.html" class="link">
        <button class="verificat-button">
          <p class="verificat-button-text">Войти в аккаунт</p>
        </button>
      </a>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
