<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/course.css" />
    <link rel="stylesheet" href="../style/style.css" />

</head>


<body class="black-theme">
 
    <div class="header">
    <div >
        <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
    </div>
 

    <div class="menu">
        <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
    </div>
    </div>
    <div class="header-line"></div>
    </div>
    <div class="conteiner-coures">
        <img class="course-img" src="../img/c.jpg" />
  
        <div class = "course-discriotion">
          <p class="course-title">Елизавета Воравко</p>
          <p class = "course-dis-discription"> другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт дальнейшее</p>
          <a href = "/https://www.figma.com/file/BfbrzeE7b715gFKnfZMous/Untitled?node-id=323%3A2"><p class = "course-dis-link">Ссылка на тестовое задание</p></a>
         <div class = "input-mark">
        <div class="input-container">
            <input type="text" id = "ps1" required=""/>
            <label>Оценка</label>		
            <span class = "erorr-message" id = "error_ps" ></span>
        </div>
        </div>
        
        </div>
      </div>
      <div class = "footer">
        <p class = "footer-text-one">TПовседневная практика показыва современная методология</p>
        <p class = "footer-text-three">70153604@online.muiv.ru</p>
    </div>
    </body>
    </html>