<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="../style/style.css"/>


    <title>Document</title>
</head>
<body class="black-theme">
    <div class="main-fon-r">
      <div class="main-title-h">Меню</div>

    <ul class = "menu-list">
        <a сlass = "link" href="../template/profile_s.html"><li>Профиль</li></a>
        <a сlass = "link" href="../template/create.html"><li>Создание курсы</li></a>
        <a сlass = "link" href="../template/courses.html"><li>Список курсов</li></a>
        <a сlass = "link" href="../template/mark.html"><li>Поставить оценку</li></a>

        <a сlass = "link" href="../index.html"><li>Выйти</li></a>

    </ul>
</div>
    
</body>
</html>