<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/course.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/verif.css" />
</head>


<body class="black-theme">
 
    <div class="header">
    <div >
        <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
    </div>
 

    <div class="menu">
        <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
    </div>
    </div>

    <div class="header-line"></div>

    <div class="conteiner">
        <p class="text-title">Профиль</p>
        <div><img class="picture-profile" src="../img/hawwork.png" /></div>
        <div class="dis-part">
            <div class="input-container1">
                <input type="text" id="eme" value="Евгений" required="" />
                <label>Имя</label>
                <span id="errer_eme" class="erorr-message"></span>
            </div>
            <div class="input-container1">
                <input type="text" id="eme" value="0153604@online.muiv.ru" required="" />
                <label>Почта</label>
                <span id="errer_eme" class="erorr-message"></span>
            </div>
        </div>
    </div>

    <div class="before-course conteiner">
        <p class="text-title conteiner-child">Курсы в процессе выполнения</p>
        <div class="button-child">
    </div>

    </div>

  
    </div>


    <div class="conteiner-coures">
        <img class="course-img" src="../img/c.jpg" />
        <div class="course-discriotion">
            <p class="course-title">Начальный курс по C#</p>
            <p class="course-dis-discription">C# — объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров компании Microsoft под руководством Андерса Хейлсберга и Скотта Вильтаумота как язык разработки приложений для платформы Microsoft .NET Framework. Впоследствии был стандартизирован как ECMA-334 и ISO/IEC 23270.</p>
            <a href="/https://www.figma.com/file/BfbrzeE7b715gFKnfZMous/Untitled?node-id=323%3A2">
                <p class="course-dis-link">Ссылка на тестовое задание</p>
            </a>
            <div class = "course-bar">
                <div class = "course-point"></div>
                <div class = "course-point acrive"><img src = "../img/point.svg"/></div>
                <div class = "course-point"></div>
                <div class = "course-point acrive"><img src = "../img/point.svg"/></div>
                <div class = "course-point"></div>
            </div>

        </div>
    </div>

    <div class="before-course conteiner">
        <p class="text-title conteiner-child">Выполненые курсы </p>
        <div class="button-child">
    </div>

    </div>

    

    <div class="conteiner-coures">
        <img class="course-img" src="../img/с++.jpg" />
        <div class="course-discriotion">
            <p class="course-title">Начальный курс по C++</p>
            <p class="course-dis-discription">C++ — компилируемый, статически типизированный язык программирования общего назначения. Поддерживает такие парадигмы программирования, как процедурное программирование, объектно-ориентированное программирование, обобщённое программирование. </p>
            <a href="/https://www.figma.com/file/BfbrzeE7b715gFKnfZMous/Untitled?node-id=323%3A2">
                <p class="course-dis-link">Ссылка на тестовое задание</p>
            </a>
            <span class="course-title">-<span>/<span>100</span>

        </div>
    </div>
    

    <div class = "footer">
        <p class = "footer-text-one">Повседневная практика показыва современная методология</p>
        <p class = "footer-text-three">0153604@online.muiv.ru</p>
    </div>
    <script src="/script.js"></script>
</body>

</html>