<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/course.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/verif.css" />
</head>


<body class="black-theme">
 
    <div class="header">
    <div >
        <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
    </div>
 

    <div class="menu">
        <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
    </div>
    </div>

      <div  class = "course">
        <div class ="course-main-picture">
        
        </div>
        <p class = "dis-text">
          Создайте страницу, которая отобразит сообщение «Я JavaScript!».

          Выполните это задание в песочнице, либо на вашем жёстком диске, где – неважно, главное – проверьте, что она работает.
        </p>
        <div class = "conteiner-red">
        <div style="padding-top:5px; padding-bottom:10px; padding-right:20px;">
             <button onclick="change_text('<b>', '</b>'); ViewText();"><b>B</b></button>
             <input type="color" onchange="change_text('<font color=' + this.value + '>', '</font>'); ViewText();">
        </div>
        
        <textarea id="editableTextarea" style="height:200px; width:600px; border:1px solid gray; background-color:transparent; color: white" onkeyup='ViewText();'>
        <b>Hello!</b>
        <font color=blue>How do you do?</font>
        </textarea>
        
        <div style="padding-top:10px; padding-left:50px; padding-right:20px;">
             <font>Результат:</font>
        </div>
        
        <div id="DivView" style="height:200px; width:600px; border:1px solid gray; background-color:transparent; display:none; padding-left:20px;">
        </div>
        
        <script language="JavaScript">
             function ViewText()
             {
                  document.getElementById("DivView").style.display = "";
                  document.getElementById("DivView").innerHTML = document.getElementById("editableTextarea").value;
        
                  // заменяем "\n" на "<BR>" во всем тексте
                  var text = document.getElementById("DivView").innerHTML;
                  text = text.replace(new RegExp("\n","g"), "<BR>");
                  document.getElementById("DivView").innerHTML = text;
             }
        
             function change_text(tag1, tag2)
             {
                  if (tag1=="" || tag2=="")
                       return;
        
                  var elemText = document.getElementById("editableTextarea");
                  if (elemText==null)
                       return;
        
                  // get text
                  var text = elemText.value;
        
                  // get position
                  var posSelection1 = elemText.selectionStart;
                  var posSelection2 = elemText.selectionEnd;
        
                  // get 2 text
                  var str1 = text.substr(0, posSelection1);
                  var strMiddle = text.substr(posSelection1, posSelection2-posSelection1);
                  var str2 = text.substr(posSelection2);
        
                  // set text
                  elemText.value = str1 + tag1 + strMiddle + tag2 + str2;
                  elemText.selectionStart = str1.length + tag1.length;
                  elemText.selectionEnd = elemText.selectionStart+strMiddle.length;
                  elemText.focus();
             }
        
             ViewText();
        </script>
      </div>
    </div>
      <a href = "../template/testtask.html" class = "link">
      <div class = "course-next">
        <img src ="../img/next.png"/>
      </div>
      </a>
</body>
</html>