<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/course.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="/style/verif.css" />
</head>


<body class="black-theme">

    <div class="header">
        <div>
            <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
        </div>


        <div class="menu">
            <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
        </div>
    </div>

    <div class="course">
        <div class="course-main-picture">

        </div>
        <p class="dis-text">
            Введение в JavaScript
            Давайте посмотрим, что такого особенного в JavaScript, чего можно достичь с его помощью и какие другие
            технологии хорошо с ним работают.

        </p>
        <p class="dis-text">

            Что такое JavaScript?
            Изначально JavaScript был создан, чтобы «сделать веб-страницы живыми».

            Программы на этом языке называются скриптами. Они могут встраиваться в HTML и выполняться автоматически при
            загрузке веб-страницы.

            Скрипты распространяются и выполняются, как простой текст. Им не нужна специальная подготовка или компиляция
            для запуска.

            Это отличает JavaScript от другого языка – Java.
        </p>
        <p class="dis-text">
            Сегодня JavaScript может выполняться не только в браузере, но и на сервере или на любом другом устройстве, которое имеет специальную программу, называющуюся «движком» JavaScript.

            У браузера есть собственный движок, который иногда называют «виртуальная машина JavaScript».
            
            Разные движки имеют разные «кодовые имена». Например:
            
            V8 – в Chrome, Opera и Edge.
            SpiderMonkey – в Firefox.
            …Ещё есть «Chakra» для IE, «JavaScriptCore», «Nitro» и «SquirrelFish» для Safari и т.д.
            Эти названия полезно знать, так как они часто используются в статьях для разработчиков. Мы тоже будем их использовать. Например, если «функциональность X поддерживается V8», тогда «Х», скорее всего, работает в Chrome, Opera и Edge.
        </p>
        <p class="dis-text">
            Современный JavaScript – это «безопасный» язык программирования. Он не предоставляет низкоуровневый доступ к памяти или процессору, потому что изначально был создан для браузеров, не требующих этого.
        </p>
    </div>
    <a href="../template/task.html" class="link">
        <div class="course-next">
            <img src="../img/next.png" />
        </div>
    </a>
</body>

</html>