<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/course.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/verif.css" />
</head>


<body class="black-theme">
 
    <div class="header">
    <div >
        <a href="../index.html" class="link"> <img src="../img/logo.svg" /></a>
    </div>
 

    <div class="menu">
        <a href="../template/menu.html"><img src="../img/menu.svg" /></a>
    </div>
    </div>

      <div  class = "course">
        <div class ="course-main-picture">
        
        </div>
       <div class = "link">
        <div class="input-container2">
            <input type="text" id = "ps1" required=""/>
            <label>LINK</label>		
            <span class = "erorr-message" id = "error_ps" ></span>
        </div>
      </div>
    </div>
    <a href = "../template/profile_s.html" class = "link"><div class = "course-next">
        <img src ="../img/next.png"/>
      </div>
</body>
</html>